
<section class="pt-5">
    <h1 class="display-3">Thank You !!</h1>
    <p class="lead">The payment has been successful. You will recieve the 
        e-book copy in your mailbox shortly.</p>
    <a href='/' class="btn btn-dark btn-lg">Go Back Home</a>
</section>